<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">NGRX State Management with Angular 17</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/user-registration">User Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/product-listing">Products</a>
          </li>
      </ul>
      <span class="navbar-text">
        <a routerLink="/cart">Cart (<span>{{0}}</span>)</a> 
      </span>
    </div>
    
    </div>
  </nav>
